xml/songs.dtd

<!ELEMENT songs (song)*>
<!ATTLIST songs amount (#PCDATA)>
<!ELEMENT song (cover, file, title, resttitle, artist, retsartist, album, description)>
<!ATTLIST song id ID #REQUIRED>
<!ELEMENT cover (#PCDATA)>
<!ELEMENT file (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT resttitle (#PCDATA)>
<!ELEMENT artist (#PCDATA)>
<!ELEMENT restartist (#PCDATA)>
<!ELEMENT album (#PCDATA)>
<!ELEMENT description (#PCDATA)>